body {
    background: url(img/page-background.png);
}
.fa-fw {
    width: 2em;
    padding-left: 0px;
}

.btn-toolbar {
    padding-bottom: 10px;
}
ul, a {
    color: inherit;
}

/*table*/
.custab{
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

/*search*/
.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;
}

.panel-heading div {
    margin-top: -6px;
    font-size: 18px;
}

.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    padding: 15px;
}

.pull-right span {
    padding-left: 15px;
    margin-right: 0;
}

.panel-add {
    padding: 15px;
    border-color: #bce8f1;
}


/*--------------------------------------------------------------------------
+	Main Menu Style
--------------------------------------------------------------------------*/
.mainmenu li.logo-wrapper a {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.mainmenu li.logo-wrapper a:hover{
    opacity: 0.94;
}
.mainmenu-wrapper {
    background-color: #FFF;
    border-bottom: 2px solid rgba(66, 138, 201, 0.90);;
    z-index: 4;
}
.mainmenu {
    width: 100%;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.mainmenu > ul,
.mainmenu .mainmenu-submenu-inner {
    margin: 0 auto;
}
.mainmenu > ul > li,
.mainmenu .mainmenu-submenu-inner > li {
    display: inline-block;
    *display: inline;
}
.mainmenu > ul > li > a,
.mainmenu .mainmenu-submenu-inner > li > a {
    font-size: 1em;
    padding: 1em 1.1em;
    color: #999;
    display: inline-block;
    text-decoration: none;
}
.mainmenu > ul > li > a:hover,
.mainmenu .mainmenu-submenu-inner > li > a:hover {
    color: rgba(91, 192, 88, 0.90);;
    text-decoration: none;
}
.mainmenu > ul > li.active > a,
.mainmenu .mainmenu-submenu-inner > li.active > a {
    color: rgba(66, 138, 201, 0.90);;
    font-weight: 600 !important;
}
.mainmenu > ul > li.mainmenu-open a,
.mainmenu .mainmenu-submenu-inner > li.mainmenu-open a,
.mainmenu > ul li.mainmenu-open > a:hover,
.mainmenu .mainmenu-submenu-inner li.mainmenu-open > a:hover {
    color: #fff;
    background: rgba(66, 138, 201, 0.90);;
}
.mainmenu .mainmenu-submenu {
    display: none;
    position: absolute;
    background: rgba(66, 138, 201);;
    width: 80%;
    left: 10%;
    z-index: 999;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}
.mainmenu .mainmenu-submenu-inner > div {
    width: 33%;
    float: left;
}
.mainmenu .mainmenu-submenu-inner:before,
.mainmenu .mainmenu-submenu-inner:after {
    content: " ";
    display: table;
}
.mainmenu .mainmenu-submenu-inner:after {
    clear: both;
}
.mainmenu .mainmenu-submenu-inner > div a {
    line-height: 2em;
}
.mainmenu-open .mainmenu-submenu {
    display: block;
    padding-bottom: 3em;
}
.mainmenu-submenu h4 {
    color: #bad2e1;
    padding: 1em 0 0.6em;
    margin-left: 20px;
    font-size: 160%;
    font-weight: 300;
}
.mainmenu-submenu ul {
    margin-left: 20px;
}
@media screen and (max-width: 979px) {
    .mainmenu {
        font-size: 0.8em;
    }
    .mainmenu-submenu {
        font-size: 1em;
    }
    .mainmenu-submenu li,
    .mainmenu-submenu h4 {
        padding-left: 10px;
    }
}
@media screen and (max-width: 479px) {
    .mainmenu {
        font-size: 100%;
        border: none;
    }
    .mainmenu > ul,
    .mainmenu .mainmenu-submenu-inner {
        width: 100%;
        padding: 0;
    }
    .mainmenu .mainmenu-submenu-inner {
        padding: 0 1.5em;
        font-size: 85%;
    }
    .mainmenu > ul > li {
        display: block;
        border-bottom: 4px solid #47a3da;
    }
    .mainmenu > ul > li > a {
        display: block;
        padding: 1em 3em;
    }
    .mainmenu > ul > li:last-child {
        border: none;
    }
    .mainmenu .mainmenu-submenu {
        position: relative;
    }
    .mainmenu-submenu h4 {
        padding-top: 0.6em;
    }
    .mainmenu .mainmenu-submenu-inner > div {
        width: 100%;
        float: none;
        padding: 0;
    }
}